<!DOCTYPE html>
<html lang="en"
      xml:lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8" content="IE=edge,chrome=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="main page of the project for database classes">
    <title>Home Page</title>


    <!--    to powyzej zdaje sie nic nie robi xd-->

    <style>
        body {
            background-color: #303030;
            color: #ffffff;
        }

        container {

            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }

        #logo {
            background-color: black;
            color: white;
            text-align: center;
            padding: 5px;
        }

        #navigation {
            color: white;
            padding: 10px;
        }
    </style>
        <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

<div class="container">
    <div id="logo">
        <h1>Home Page</h1>
    </div>
    <div id="navigation" align="center" >
        <a th:href="@{show}" target="blank">Show</a>
        <a th:href="@{show2}">Show2</a>
        <a th:href="@{home}">Home</a>
        <a th:href="@{test}">Test</a>
        <a th:href="@{showFindByCategory}">showFindByCategory</a>
    </div>
</div>

<ul>
    <!--/*@thymesVar id="show2" type="String"*/-->
    <li th:each="Filmy: ${showFindByCategory}">
        <!--        <span th:text="${show.}">Default</span>-->
        <span th:text="${Filmy}">Default</span>
    </li>
</ul>

</body>
</html>